{%extends 'base.html'%}
{%block content%}
    <main>
        <div>
            <h1>My Tasks</h1>
            {%if task_list|length > 0%}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in task_list%}
                            <tr>
                                <td>{{item.name}}</td>
                                <td>{{item.start_date}}</td>
                                <td>{{item.due_date}}</td>
                                <td>   {% if item.is_completed is True %}
                                    <p>Done<p>
                                {%else%}
                                    <form method="post" action='{% url "show_my_tasks" %}'>
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form>
                                {%endif%}
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            {%else%}
                <p>You have no tasks</p>
            {%endif%}
        </div>
    </main>
{%endblock content%}