{%extends 'base.html'%}
{%block content%}
    {%load markdownify%}
    <main>
        <div>
            <p><a href="{%url 'create_task'%}">Create a new task</a></p>
            <h1>{{project.name}}</h1>
            <p>{{ project.description|markdownify }}</p>
            <h2>Tasks</h2>
            {%if project.tasks.all|length > 0%}
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Assignee</td>
                            <td>Start date</td>
                            <td>Due date</td>
                            <td>Is completed</td>
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in project.tasks.all %}
                            <tr>
                                <td>{{item.name}}</td>
                                <td>{{item.assignee}}</td>
                                <td>{{item.start_date}}</td>
                                <td>{{item.due_date}}</td>
                                <td>{{item.is_completed}}</td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            {%else%}
                <p>This project has no tasks</p>
            {%endif%}
        </div>
    </main>
{%endblock content%}